<p style="color: green"><%= notice %></p>

<%= render @plant %>

<div>
  <%= link_to "Edit this plant", edit_plant_path(@plant) %> |
  <%= link_to "Back to plants", plants_path %>

  <%= button_to "Destroy this plant", @plant, method: :delete %>
</div>

<%= button_to water_plant_path(@plant), method: :post do  %>
        <div class="flex z-5 text-3xl hover:shadow-md">💧</div>
      <% end %>

<%= link_to water_reminders_new_path(@plant)%>

<div class="text-center m-10">
  Watering log:
</div>
<div class="text-center m-10">
  <% @plant.watering_logs.order(created_at: :asc).each_with_index do |watering_log, index| %>
    <div><%= index + 1 %>.  <%= watering_log.created_at %></div>
  <% end %>
</div>
